<!DOCTYPE html>
<html>
<head>
	<title>Admin landing 2 </title>
</head>
<body>

    <style type="text/css">
        body {
        background: url("background.jpeg");
    }
    </style>

	<form action="/stop_check_ins" method="post" ><!-- onsubmit = "checkin_started()" -->

        <fieldset>

        <legend><strong>Admin Landing 2 </strong></legend><hr /><br />
        <h4>Select the Course for which you wish stop the check-ins</h4>
        <!-- <label>Course ID <input type="text" name="courseid" required="required" placeholder="eg: CMPT XXX, MATH XXX" id="courseid"></label><br />
        <h4>Select the time after which the students will receive a half attendence <br />
        <label>Time <input type="time" name="lateLimit" required="required" placeholder="eg: 11:45 AM" id="lateLimit"></label><br /><br /> -->

        <!-- <button onclick="init()">Click Here</button> -->

        <input type="button" name="c_1" value="Stop Check in for course - <%= var1.name	%>" id="c_1" onclick="clicked1()"><br />
        <input type="button" name="c_2" value="Stop Check in for course - <%= var2.name	%>" id="c_2" onclick="clicked2()"><br />
        <input type="button" name="c_3" value="Stop Check in for course - <%= var3.name	%>" id="c_3" onclick="clicked3()"><br />
        <input type="button" name="c_4" value="Stop Check in for course - <%= var4.name	%>" id="c_4" onclick="clicked4()"><br />
        <input type="button" name="c_5" value="Stop Check in for course - <%= var5.name	%>" id="c_5" onclick="clicked5()"><br />
        <input type="button" name="c_6" value="Stop Check in for course - <%= var6.name	%>" id="c_6" onclick="clicked6()"><br />
        <input type="button" name="c_7" value="Stop Check in for course - <%= var7.name	%>" id="c_7" onclick="clicked7()"><br />

        <br />
        <label>Stopping Check in for - </label><input type="text" name="stopping" id="stopping">
        <hr /><br />
        
        <input type="submit" name="Stop Check-in" value="Stop Check-in">

        </fieldset>
      </form>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script >

function clicked1() {
	document.getElementById("stopping").value = "<%= var1.name %>";
}
function clicked2() {
	document.getElementById("stopping").value = "<%= var2.name %>";
}
function clicked3() {
	document.getElementById("stopping").value = "<%= var3.name %>";
}
function clicked4() {
	document.getElementById("stopping").value = "<%= var4.name %>";
}
function clicked5() {
	document.getElementById("stopping").value = "<%= var5.name %>";
}
function clicked6() {
	document.getElementById("stopping").value = "<%= var6.name %>";
}
function clicked7() {
	document.getElementById("stopping").value = "<%= var7.name %>";
}


</script>
</html>