<!DOCTYPE html>
<html>
<head>
	<title>Admin landing 2 </title>
</head>
<body>

	<form action="/stop_check_ins" method="post" ><!-- onsubmit = "checkin_started()" -->

        <fieldset>

        <legend><strong>Admin Landing 2 </strong></legend><hr /><br />
        <h4>Select the Course for which you wish stop the check-ins</h4>
        <!-- <label>Course ID <input type="text" name="courseid" required="required" placeholder="eg: CMPT XXX, MATH XXX" id="courseid"></label><br />
        <h4>Select the time after which the students will receive a half attendence <br />
        <label>Time <input type="time" name="lateLimit" required="required" placeholder="eg: 11:45 AM" id="lateLimit"></label><br /><br /> -->

        <button onclick="init()">Click Here</button>

        <input type="button" name="c_1" value="-" id="c_1">
        <input type="button" name="c_2" value="-" id="c_2">
        <input type="button" name="c_3" value="-" id="c_3">
        <input type="button" name="c_4" value="-" id="c_4">
        <input type="button" name="c_5" value="-" id="c_5">
        <input type="button" name="c_6" value="-" id="c_6">
        <input type="button" name="c_7" value="-" id="c_7">





        <input type="submit" name="Stop Check-in" value="Stop Check-in">

        </fieldset>
      </form>

<p><%=	var1	%></p>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script >

	// $(document).ready(function() {
	// 	var myitems;
	// 	$.getJSON('/Data/courses.json', function(data){
	// 		$.each(data, function(key,value){
	// 			document.getElementById('c_1').value = value.name;
	// 		})
	// 	})
	// })

//console.log(yolo);








	
</script>
</html>