<html>
<head>
	<title>Student Already Signed in</title>
</head>
<body>
	<h3> <%= var2 %> , You have already checked-in for the course <%= var1 %> , as <%= var3 %> </h3>
	<h5> Sit Back and study :)</h5>
</body>
</html>