<html>
<head>
	<title>Course already closed </title>
</head>
<body>

	<h1> The course (	<%= var1 %>	) , You are trying to Close checkIN for Doesn't Exist or is Already closed by the Admin
	</h1>

</body>
</html>