<html>
<head>
	<title>Student Signed in</title>
</head>
<body>
	<h3> <%= var2 %> , Either the check-in has already been closed by the admin for the course <%= var1 %> , or hasn't been started yet. </h3>
	<h5> Try again in few minutes or confirm by ur instructor about the check-in</h5>
</body>
</html>