<!DOCTYPE html>
<html>
<head>
	<title>View All Past History</title>
</head>
<body>

	<h2>Attendence History for <%= 	var1	%></h2>
	<table>
		<tr>
			<th>NAME</th>
			<th>USERNAME</th>
			<th>COURSE</th>
		</tr>

		<tr>
			<td></td>
		</tr>


	</table>
</body>
<script type="text/javascript">
	
</script>
</html>