
<html>
<head>
	<title>Student Signed in</title>
</head>
<body>
	<h3>Congratulations <%= var2 %> , You have successfully added Your attendence for <%= var1 %> as <%= var3 %> </h3>
	<h5> Now sit back and study hard </h5>
</body>
</html>